<%- include('partials/header.ejs') %>
<div class="container mt-3" id="post-container">
  <h1><%= title %></h1>
  <p><%=description%></p>
  <p><%= markdown %></p>
</div>

<%- include('partials/footer.ejs') %>
